<%= form_with(model: @recipe, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="field">
<h1>Slime Name: </h1>
<%= f.text_area :title %>
<%= f.text_area :description, placeholder: "Add a short description about your recipe" %>
<%= f.file_field :recipe_img %>
</div>


<h3> Add Ingredients </h3>
<%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
<%= render 'recipe_ingredient_fields', f: recipe_ingredient %>
<% end %>

<div class="links">
<%= link_to_add_association 'Add Ingredient', f, :recipe_ingredients %>

<h3> Add Steps </h3>
<%= f.fields_for :steps do |step| %>
<%= render 'step_fields', f: step %>
<% end %>

<div class="links">
<%= link_to_add_association 'Add Steps', f, :steps %>


</div>

<%= f.submit "Post", class: "btn-cutstom2" %>


<% end %>



