<div class="row">
<li id="recipe-<%= recipe.id %> ">
<%= image_tag recipe.recipe_img.url(:recipe_index), class: "recipe" %></a>

<span class="user"><%= link_to recipe.user.name, recipe.user %></span>
<h4> <%= link_to recipe.title, recipe_path(recipe) %></h4>


<span class="timestamp">
Posted <%= time_ago_in_words(recipe.created_at) %> ago 
<% if current_user?(recipe.user) %>
<%= link_to "delete", recipe, method: :delete, data: { confirm: "You sure?"} %>
<% end %>
</span>
</li>
</div>