<div class="col-md-4">
    <%= image_tag @recipe.recipe_img.url(:recipe_show), class: "recipe-show" %>
</div>


<div class="col-md-8">
<div class="recipe-info">
    <h1 class="recipe-title"> <%= @recipe.title %> </h1>
	<h2>posted by: <%= @recipe.user.name %> </h2>
    <p class="recipe-desc"> <%= @recipe.description %> </p>
    <p>
  
<h1>Ingredients: </h1>
 <ul>
          <% @recipe.recipe_ingredients.each do |i| %>
            <li><%= i.ingredient_name %></li>
          <% end %>
        </ul>
<h1>Steps </h1>
<% @recipe.steps.each do |s| %>
            <li><%= s.direction %></li>
          <% end %>
        </ul>
<ul>


</div>
    <% if @recipe.user_id == current_user.id %>

<%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-custom"  %>
<%= link_to "Delete", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom"  %>

<% end %>


</div>
</div>

